/* 通用基本设置 */
.base{
	width:1000px;
	height:45px;
	border-bottom:1px solid #cccccc;
	margin:0 auto;
	padding-top:27px;
}
.base>a{
	display:block;
	width:78px;
	height:26px;
	background:#7ca8cb;
	font:14px/26px "微软雅黑";
	text-align:center;
	border-radius:3px;
	color:white;
}
/* 第一部分 */
/* 导航 */
.part1{
	width:1000px;
	height:442px;
	margin:0 auto;
}
.part1>ul{width:1000px;height:56px;margin-top:24px;float:left;}
.part1>ul>li{
	height:13px;
	margin-right:12px;
	float:left;
	font:13px/13px "微软雅黑";
}
.part1>ul>li>a{color:#666666;}
.part1>ul>li.active>a{color:#7ca8cb;}
/* 具体内容 */
.part1>div{
	width:1000px;
	height:84px;
	border-bottom:1px solid #ededed;
	float:left;
}
.part1>div>h1{
	width:900px;
	float:left;
	font:bold 16px/42px "微软雅黑";
	color:#333333;
}
.part1>div>p{
	float:left;
	font:14px/24px "微软雅黑";
	color:#333333;
}
.part1>div>a{
	float:right;
	font:14px/84px "微软雅黑";
	color:#0c79cc;
}
